
<div class="container-fluid col-md-4">
    <br>
    <h4 style="text-align: center; color: rgb(184, 18, 18);">DELETE PRODUCT</h4>
    <hr>
    <form #deleteform="ngForm" (ngSubmit)="deleteProduct(deleteform.value)">
        <div class="form-group">
            <label>Product ID</label>
            <input type="number" required class="form-control" name="productId" ngModel placeholder="Enter Product ID"> 
        </div>
        
        <div class="form-group text-center">
            <button type="submit" [disabled]="!deleteform.form.valid" class="btn btn-danger">Delete</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-warning">Cancle</button> 
        </div>
    </form>
</div>